



.navbar-toggler {
    outline: none;
}
.dropdown-menu.show {
    display: block;
}

.card-transform:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
    cursor: pointer;
    
}

.navbar-dexMenu{
    display: inline;
}
.navbar-moMenu{
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar-dexMenu {
        display: none;
    }
    .navbar-moMenu {
        display: inline;
    }
    
}

.scrollable-container {
    max-height: 300px; /* Adjust the height as needed */
    overflow: hidden; /* Hide the default scrollbars */
  }
  
  .list-group-item {
    padding: 10px; /* Add padding to each list item */
  }
  
  .dropdown-divider {
    border-top: 1px solid #e9ecef;
    margin: 0.5rem 0;
  }

  
/* .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: 0em solid transparent!important;
    border-bottom: 0;
    border-left: 0em solid transparent!important;
} */

  
.authentication-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }

